<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='jquery-1.9.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='holder.js') }}"></script>
    <title>My Webpage</title>
</head>
<body>
<div class="jumbotron">
    Programming robots
</div>
<div>
<p style="font-family:Courier">
main:<br>
    {% for repetition in repetitions %}
    forward A<br>
    forward B<br>
    {% endfor %}
    goto main<br>
</p>
</div>
</body>
</html>
